<%= form_for @property do |f| %>
  <% if @property.errors.any? %>
    <div id="error_exlanation">
      <h2><%= pluralize(@property.errors.count, "error") %>件のエラーがあります。</h2>
      <ul>
        <% @property.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= f.label :property, '物件名' %></div>
  <div><%= f.text_field :property %></div>
  <div><%= f.label :rent, '賃料' %></div>
  <div><%= f.number_field :rent %>円</div>
  <div><%= f.label :address, '住所' %></div>
  <div><%= f.text_field :address %></div>
  <div><%= f.label :age, '築年数' %></div>
  <div><%= f.number_field :age %>年</div>
  <div><%= f.label :note, '備考' %></div>
  <div><%= f.text_area :note %></div>
  <% n = 1 %>
  <%= f.fields_for :station do |i| %>
  <h2>最寄り駅<%= n %></h2>
    <div><%= i.label :line, '路線名' %></div>
    <div><%= i.text_field :line %></div>
    <div><%= i.label :line, '駅名' %></div>
    <div><%= i.text_field :station %></div>
    <div><%= i.label :line, '徒歩分数' %></div>
    <div><%= i.number_field :min %></div>
  <% n += 1 %>
  <% end %>
  <%= f.submit %>
<% end %>